/.quarto/
/**/.quarto
**/*.quarto_ipynb
/_extensions/
/_freeze/*
!/_freeze/.gitkeep
.DS_Store
./**/.DS_Store
.Rhistory
.env
**/.gitignore

# exclude old datafiles
raw_data/old_*
processed/old_*
processed/old_*
combined/old_*
/.luarc.json

old_*.Rds
**/old_*.Rds
.Rproj.user
