/*-- scss:rules --*/
// Base font sizes
$mobile-scale: 0.9;
$font-size-mobile: calc($font-size-base * $mobile-scale);

// Scales for headings relative to base
$h1-scale: calc($h1-font-size / $font-size-base / 1.25)!default; 
$h2-scale: calc($h2-font-size / $font-size-base / 1.2)!default;
$h3-scale: calc($h3-font-size / $font-size-base / 1.15)!default;
$h4-scale: calc($h4-font-size / $font-size-base / 1.1)!default;
$h5-scale: calc($h5-font-size / $font-size-base / 1.05)!default;
$h6-scale: calc($h6-font-size / $font-size-base / 1)!default;

// ---------- Mobile / narrow (< $grid-body-width) ----------
@media (max-width: $grid-body-width) {
  body {
    font-size: $font-size-mobile;
  }

  h1 { font-size: calc($h1-scale * $font-size-mobile);}
  h2 { font-size: calc($h2-scale * $font-size-mobile);}
  h3 { font-size: calc($h3-scale * $font-size-mobile);}
  h4 { font-size: calc($h4-scale * $font-size-mobile);}
  h5 { font-size: calc($h5-scale * $font-size-mobile);}
  h6 { font-size: calc($h6-scale * $font-size-mobile);}
}
///

// change color of code block output
.cell-output
.cell-output pre,
.cell-output code,
.cell-output-stdout,
.cell-output-stderr {
  color: var( --bs-secondary);
}

#quarto-back-to-top {
  width: $grid-margin-width;
  background-color: $primary;
  color: $body-bg;
  box-shadow: 0 .2rem .5rem rgba($black, .25),0 0 .05rem rgba($black, .25);
}

@media (
    min-width: calc($grid-body-width + $grid-margin-width + $grid-column-gutter-width + 150px)
  ){
  #quarto-back-to-top {
    display: none;
    position: fixed;
    width: $grid-margin-width;

    /* move reference point 200px to the right of center */
    left: calc(
      50% + calc(($grid-body-width + $grid-margin-width)/2)
      - calc($grid-margin-width / 3) 
      + calc($grid-column-gutter-width * 1.5));
    transform: translateX(-50%);
  }
}

// Minimum viewport height at which we allow the back-to-top button
$back-to-top-min-height: 700px;

// When the window height is smaller than this, always hide the button
@media (max-height: $back-to-top-min-height) {
  #quarto-back-to-top {
    display: none !important;
  }
}
